/* @media screen and (max-width: 576px) { */

    body {
        margin: 0px;
        overflow-x: hidden;
    }

    .container-main {
        width: 400px;
        /* height: 40vh; */
        background-color: black;
        
    }

    .carrusel {
        width: 100vw;
        position: relative;
        background-color: blue;
    }

    .carrusel-pelicula {
        width: 100%;
        overflow-x: hidden;
        /* transition: transform 0.5s ease; */
    }

    .subContainer {
        display: flex;
        /* transition: transform 0.5s ease; */
    }

    .subContainer img {
        width: 100%;
        height: 40vh;
        object-fit: cover;
        flex: 0 0 400px;
        /* transition: transform 0.5s ease; */
        
    }

    #prevBtn {
        position: absolute;
        top: 50%;
        left: 0;
    }

    #nextBtn {
        position: absolute;
        top: 50%;
        right: 3%;
    }

    .modal {
        width: 100vw;
        height: 100vh;
        background-color: black;
        display: none;
        position: fixed;
        top: 0;
        left: 0;
    }

/* } */