body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    padding-top: 40px;
}

.welcome_h1 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
}

.dataImg {
    width: 80%;
    margin-bottom: 0px;
}

.dataText {
    color: #F51B0F;
    margin-top: 0px;
    margin-bottom: 30px;
}

.divLogin {
    display: none;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.divRegister {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.input {
    width: 100%;
    height: 32px;
    border-radius: 10px;
    padding-left: 10px;
}

.btnData {
    background-color: #F51B0F;
    color: white;
    padding: 5px 20px;
    margin-top: 50px;
    width: 100%;
    border: 0px;

}

.formRegister {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.formLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.btnCall {
    cursor: pointer;
    color: #F51B0F;
}